
@{
    ViewData["Title"] = "HomePage";
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .collapsible {
            background-color: #f3c6f8;
            color: #000000;
            cursor: pointer;
            padding: 14px;
            width: 100%;
            margin:auto;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
            display:block;
        }

            .active, .collapsible:hover {
                background-color: #7caefe;
            }

        .content {
            padding: 0 18px;
            display: none;
            overflow: hidden;
            background-color: #dbc2fa;
        }
        body {
            background-color: #e9e9e9;
        }
        * {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}




    </style>
</head>


<body style="
margin-top: 0px;
margin-left: 0px;
margin-right: 0px;">
     

    <center><h2>Accomplishments</h2></center>

    <button class="collapsible">C#</button>
    <div class="content">
        <p>Part of learning backend was to build Console Applications. I chose the one that developmented the most over time to display how far I have come in the first 8 weeks of this course</p>
    <p>During this project I worked with my partner (Brandon Hagerman) and these are a few snippets of our final project</p>
    <p>I added in a few comments to clarify a few parts of the code for the reader!</p>
    <div class="row">
        <div class="column">
            <img src="~/css/Image/" alt="Snow" style="width:100%">
        </div>
        <div class="column">
            <img src="img_forest.jpg" alt="Forest" style="width:100%">
        </div>
        <div class="column">
            <img src="img_mountains.jpg" alt="Mountains" style="width:100%">
        </div>
        <div class="row">
            <div class="column">
                <img src="img_snow.jpg" alt="Snow" style="width:100%">
            </div>
            <div class="column">
                <img src="img_forest.jpg" alt="Forest" style="width:100%">
            </div>
            <div class="column">
                <img src="img_mountains.jpg" alt="Mountains" style="width:100%">
            </div>
        </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    </div>

    <button class="collapsible">SQL</button>
    <div class="content">
        <p>List what you can do in SQL here</p>
    </div>
    <button class="collapsible">ASP.NET</button>
    <div class="content">
        <p>List what you can do in asp.net here</p>
    </div>
  

    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }
    </script>



</body>
</html>
