@{
    ViewData["Title"] = "Resume";
}
<center>

    <h3>

        <b>LINDSEY SHEPARD</b>
    </h3>   <p>
        lindsey.shepard@outlook.com<br />
        https://www.linkedin.com/in/lindsey.shepard/<br />
        https://www.github.com/lindseyshepard/<br />
    </p>
</center>
<hr />
<p>An enthusiastic Software Developer pursuing a career path in Cloud Computing. Currently a student in Microsoft’s Software and Systems Academy for Cloud Application Development focusing on object-oriented programming concepts and learning how to build web applications in the .NET Framework. Four years of service in the military provided experience handling ambiguous tasks, meeting critical deadlines, while taking on new responsibilities. Eager to join a team involved with Cloud Applications as an entry level developer to contribute to product development and grow as an engineer in a team environment.  </p>
<wbr />
<CENTER>
    <h3>
        <b>SKILLS/ CERTIFICATIONS</b>
    </h3>
</CENTER>


<div class="row">
    <div class="column" style="background-color:white;">
        <ul>
            •	Progressive in HTML5, C#, SQL programming languages
            <br />
            •	ASP.NET Core MVC Web Application
            <br />
            •	Visual Studios 2019
            <br />
            •	Active Secret Security Clearance
            <br />
            •	CompTIA Network+
            <br />
            •	MTA Cloud Fundamentals Certification
            <br />


        </ul>
    </div>
</div>
<CENTER>
    <h3>
        <b>PROFESSIONAL EXPERIENCE</b>
    </h3>
</CENTER>
<b>
    Microsoft Software and Systems Academy (2019 – Present)<br />
    Student – Cloud Application Development
</b>
<br />

    Developed programming fundamentals through hands-on experience designing, and deploying applications based on the .NET Framework. MSSA kick-started a progression of backend web development skills, and programming capabilities
<br />
•	Developed applications using C#, HTML5, CSS, ASP.NET Core, MVC Razor Engine and Web Services
<br />
•	Experienced Reverse Engineering (Database) using .NET Core & Entity Framework Core
<br />
•	Applied Agile and Waterfall methodologies when working with teams
<br />
•	Familiar implementing OOP concepts in projects
<br />
•	Hands-on experience with C# Programming Language in Visual Studio 2019
<br />
•	SQL Server Development and Management Tools (SSMS)
<br />
<br />
<br />
<b>
    United States Marine Corps – Various Locations (2018 – 2019)<br />
    Section Leader<br />
</b>
Lead the Data and Network sections in constructing, maintaining and establishing secured telephony and network connections.
<br />
•	Trusted to step in as Department Head to manage a team of 27 personal that established three tactical networks during Trident Juncture (Norway 2018) for multiple departments, utilizing over 200 computer assets in under 72 hours
<br />
•	Supervised and inspected $3.6M worth of sensitive tactical telecommunication and networking equipment resulting in zero loss in a three-year period
<br />
•	Recognized for efforts in supporting data transmission, and security procedures for customers for a pre-deployment operation
<br />
•	Managed new and existing relationships with leaders, colleagues, and subordinates to ensure proper training and responsible management of personnel and assets
<br />
<br />
<br />
<b>
    Team Leader (2017 – 2018)</b><br />
    Assisted in backend operations by maintaining the documentation and taking care of Communications Equipment for the Department of Defense. Delegated quarterly inspections of the Telecommunication Department, requiring an inspection and report on the equipment.<br />
    •	Counseled and mentored subordinates to enhance cohesion, effectiveness and foster the trust and confidence of junior employees<br />
    •	Created a new format for record management of DoD equipment, and Personally Identifiable Information that is still in use today<br />
    •	Directed the surveying and relocation of telephonic assets for multiple locations on site<br />
    •	Participated in formal and in-informal Professional Military Education courses to stay current with Department of Defense policies and guidelines<br />
<br />
<br />
<br />
